<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.caizhixiang.mapper.PoiMapper">

	 <resultMap type="com.caizhixiang.model.IntegralDTO" id="resultMapOfTOperationStatistics">
        <result column="serialNum" property="serialNum" />
        <result column="orderNo" property="orderNo" />
        <result column="integral" property="integral" />
        <result column="orderTime" property="orderTime" />
        <result column="orderStatus" property="orderStatus" />
        <result column="payStatus" property="payStatus" />
        <result column="sendStatus" property="sendStatus" />
        <result column="getAccount" property="getAccount" />
        <result column="goodsName" property="goodsName" />
        <result column="faceValue" property="faceValue" />
        <result column="calcPrice" property="calcPrice" />
        <result column="quantity" property="quantity" />
    </resultMap>
    
	<sql id="FieldsOfTPolicyWithoutId">serialNum, orderNo, integral, orderTime, orderStatus, payStatus, sendStatus, getAccount, faceValue, goodsName, calcPrice, quantity</sql>
  
    <insert id="batchSave" parameterType="java.util.List">
	       insert into integral(<include refid="FieldsOfTPolicyWithoutId" />) values
	       <foreach collection="list" item="item" index="index" separator=",">
	           (#{item.serialNum}, #{item.orderNo}, #{item.integral}, #{item.orderTime}, #{item.orderStatus}, #{item.payStatus}, #{item.sendStatus}, #{item.getAccount}, #{item.faceValue}, #{item.goodsName}, #{item.calcPrice}, #{item.quantity})
	       </foreach>
		</insert>
	
	
    <select id="findAll" resultMap="resultMapOfTOperationStatistics">
        select <include refid="FieldsOfTPolicyWithoutId" /> from integral
    </select>
</mapper>
