<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.caizhixiang.mapper.UserMapper">

    <resultMap type="com.caizhixiang.model.User" id="resultMapOfUser">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <collection property="functionList" ofType="com.caizhixiang.model.Function">
        	<result column="content" property="content"/>
        </collection>
    </resultMap>
  
	
  
    <select id="findById" resultMap="resultMapOfUser" parameterType="java.lang.Integer">
        select
        *
        from user where id = #{id}
    </select>
  
	<select id="findCondition" resultMap="resultMapOfUser" parameterType="com.caizhixiang.model.User">
		select 
		* 
		from user 
		<where>
			<if test="id != null">and id=#{id}</if>
			<if test="name != null">and name=#{name}</if>
			<if test="password != null">and password=#{password}</if>
		</where>
	</select>
	<select id="findFunctionsByUserName" resultMap="resultMapOfUser" parameterType="java.lang.String">
		SELECT 
			* 
		from	 
			user u 
		LEFT JOIN user_role ur ON u.id=ur.user_id
		LEFT JOIN role r ON r.id=ur.role_id
		LEFT JOIN role_function rf ON r.id=rf.role_id
		LEFT JOIN `function` f ON f.id=rf.function_id
		<where>
			<if test="name != null and name != ''">u.`name`=#{name}</if>
		</where> 
	</select>
	
	
</mapper>
