<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8" />

<title>Insert title here</title>

</head>

<body>

	<h3>-------shanchu  -----}}}----</h3>
	<form id="formid" method='post' action='login' name="ff">
		<table width="100%" border="0">
			<tr>
				<td width="60" height="40" align="right">用户名&nbsp;</td>
				<td><input type="text" value="" class="text2" name="username"
					id="userid" /></td>
			</tr>
			<tr>
				<td width="60" height="40" align="right">密&nbsp;&nbsp;码&nbsp;</td>
				<td><input type="password" value="" class="text2"
					name="userpass" id="userpassid" /></td>
			</tr>
			<tr>
				<td width="60" height="40" align="right">&nbsp;</td>
				<td><div class="c4">
						<input type="button" value="提交" class="btn2" id="btn" />
					</div></td>
			</tr>
		</table>
	</form>
	<!-- jQuery 2.2.3 -->
	<script th:src="@{/adminLTE/plugins/jQuery/jquery-2.2.3.min.js}"></script>
	<script type="text/javascript">
		/* --------------------禁止重复提交按钮功能--------------------- */
		$(function() {
			$("").click(function() {
				$.ajax({
					type : "post",
					url : "login",
					data : {
						"username" : "ddd"
					},
					dataType : "json",
					contentType : "application/json",
					/*  beforeSend: function () {
					     // 禁用按钮防止重复提交
						 $("#btn").attr("disabled","disabled");
					 }, */
					success : function(data) {
						if (!data.id) {
							alert("一分钟内只能点击两次");
						} else
							alert(data);
					},
					error : function(data) {
						console.log("error: " + typeof (data.responseText));
					}
				});
				setTimeout("$('#btn').removeAttr('disabled')", 300000);
			});
		})
		/* --------------------禁止重复提交按钮功能--------------------- */
		/* --------------------测试formdata的表单序列化功能--------------------- */
		$(function() {
			$("#btn").click(function() {
				/* var formData=new FormData(document.getElementById("formid")); */
				var formData = new FormData($("#formid")[0]);
				/* var formData=new FormData(document.forms.namedItem("ff"));  */
				$.ajax({
					type : "post",
					data : formData,
					/*  async: false,  */
					/* cache: false,   */
					dataType : "json",
					contentType : false, /* 必不可少   告诉jQuery不要去设置Content-Type请求头*/
					processData : false, /* 必不可少   告诉jQuery不要去处理发送的数据 */
					url : "formData",
					success : function(data) {
						alert(data);
					}
				});
				/* contenttype 告诉服务器将要发送什么数据给后台
					datatype 告诉服务器前台需要接收什么数据，不写他会自己判断是xml还是json，string
				 */
			})
		})

		/* --------------------测试formdata的表单序列化功能--------------------- */
	</script>
</body>
</html>